HOST_UID=1000
HOST_GID=1000
APP_PORT=8080
MYSQL_DATABASE=yii2_book_catalog
MYSQL_TEST_DATABASE=yii2_book_catalog_test
MYSQL_USER=yii2
MYSQL_PASSWORD=yii2
MYSQL_ROOT_PASSWORD=root
DB_HOST=mysql
DB_PORT=3306
DB_FORWARD_PORT=3307
COOKIE_VALIDATION_KEY=replace-with-a-random-local-development-key
SMSPILOT_API_KEY=
